/* FAQ CSS */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


/* BASE STYLES */

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* colors */
    --page-bg: #000;
    --category-bg: #BDE0FE;
    --highlight-bg: #A2D2FF;
    /* fonts */
    --sans: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* PAGE SETUP */

.page {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--page-bg);
}

.faq-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
}

/* CATEGORIES */

.category-container {
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    flex: 0;
    background-color: var(--category-bg);
    min-width: 12.5rem;
}

.category-container h3 {
    padding: .5rem;
    margin: 0;
}

.category-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.category-container li {
    padding: .25rem;
    margin: 0;
}

.selected {
    font-weight: bold;
    background-color: var(--highlight-bg);
    color: white;
    border-radius: .5rem 0 0 .5rem;
}

/* QUESTIONS & ANSWERS */

.qa-container {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border-left: .5rem var(--highlight-bg) solid;
    border-bottom: .5rem var(--highlight-bg) solid;
    border-radius: 0 0 0 .75rem;
}

.qa-header {
    padding: .5rem;
    margin: 0;
    background-color: #CDB4DB;
    text-shadow: 1px 1px white; 
  }
  
.qa-header h1 {
    padding: 0;
    margin: 0;
}

.question {
    padding: .5rem;
    font-size: 1.25rem;
    background-color: #FFAFCC;
    font-weight: bold;
}

.answer {
    padding: 1rem;
    font-size: 1.0rem;
    background-color: #FFC8DD;
}

.no-questions {
    padding: .5rem;
    background-color: #BDE0FE;
    font-size: 1.25rem;
}
